@import "variables";
@import "mixins";

body {
  font-family: "Raleway";
  font-size: 14px;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  height: 90px;
  width: 100%;
  border-bottom: 1px solid $blue-green;
  background-color: white;
  opacity: .9;
}
.header-div {
  @include flex-row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 90%;
  height: 100%;
  img {
    height: 65%;
  }
}
.header-anchors {
  @include flex-row;
  justify-content: space-between;
  align-items: center;
  a {
    display: flex;
    justify-content: center;
    width: 70px;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    &:hover {
      color: $blue-green;
    }
  }
}

#cart {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  width: 90px;
  height: 30px;
}

// above is header

.container {
  border: 1px red solid;
  margin-top: 160px;
  margin-left: 5%;
  width: 90%;
}

.left-nav {
  border: 1px solid green;
  width: 20%;
}

.left-nav-path {
  font-size: $smaller-font;
  a {
    text-decoration: none;
    color: black;
    &:hover {
      color: red;
    }
  }
}

.left-nav-sortbox {
  font-size: $smaller-font;
  select {
    background-color: white;
    color: $select-color;
    border: 1px solid #dce0e0;
    border-radius: 4px;
    width: 90%;
    height: 32.4px;
  }
}
