@import "variables";
@import "mixins";


header {
  position: fixed;
  top: 0;
  left: 0;
  height: 98.5px;
  width: 100%;
  border-bottom: 1px solid $blue-green;
}
.header-div {
  @include flex-row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 90%;
  height: 100%;
  img {
    height: 65%;
  }
}
.header-anchors {
  @include flex-row;
  justify-content: space-between;
  font-family: "Raleway";
  width: 60%;
  a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    &:hover {
      color: $blue-green;
    }
  }
}
