@import "variables";
@import "mixins";

// .container {
//   margin: 0px 26.5px;
// }
header {
  position: fixed;
  top: 0;
  left: 0;
  height: 98.5px;
  width: 100%;
  border-bottom: 1px solid $blue-green;
}
.header-div {
  @include flex-row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 90%;
  height: 100%;
  img {
    height: 95%;
  }
}
